.container {
    max-width: 1790px;
    padding: 0 10px;
    margin: 0 auto;
}

.title-text {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(142, 162, 170, 0.20);
    color: #008BD2;
    padding: 5px 15px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    @extend %rubik-700;
    margin-bottom: 20px;
}

.help__text-wrapper{
    min-width: 100px;
    text-align: center;
}

.main-title{
    color: #002E45;
    text-align: center;
    font-size: 55px;
    @extend %rubik-800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
// .f{
//     @extend %rubik-800;

// }