@import 'vars';


@media(max-width:1820px) {
  .news {
    &__list {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background-color: #F0F3FA;
      }

      &::-webkit-scrollbar-thumb {
        background: #008BD2;
        border-radius: 3px;
      }

    }
  }

  .stats {

    &__list {
      overflow-x: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;

      li {
        margin: 0 auto;
        text-align: center;

        a {
          div {
            margin: 0 auto;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}



@media(max-width:1620px) {
  .menu {
    &__list {
      gap: 25px;
    }
  }

  .tabs {

    &__jobs-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    &__buttons {
      width: 420px;
    }

    &__galery__inner {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }
  }



}



@media(max-width:1420px) {
  .menu {
    &__list {
      gap: 15px;
    }
  }

  .header {
    &__links-btn {
      padding: 15px;
    }
  }

  .contacts {

    &__map-box {
      max-width: 700px;
    }

    &__top {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 20px;
    }
  }

  .partners {

    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}



@media(max-width:1320px) {
  .menu {
    &__list {
      display: none;
    }

    &__btn-two {
      display: flex;
      cursor: pointer;
    }
  }

  .btn__wrapper {
    display: none;
  }

  .tabs {

    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__acide {
      padding-top: 0;
      padding-bottom: 30px;

    }

    &__buttons {}
  }

  .news {

    &__wrapper {
      flex-direction: column-reverse;
    }

    &-page__img-box-mobile {
      display: block;
      margin-bottom: 20px;
    }

    &-page__img-box {
      display: none;
    }

    &__text {
      max-width: 100%;
    }


  }


}



@media(max-width:1250px) {
  .header__top-info {
    display: none;
  }

  .header__menu-js {
    top: 100px;
  }


  .header__menu__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  .header__menu-js {
    height: calc(100vh - 90px);
    padding: 30px 0;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #F0F3FA;
    }

    &::-webkit-scrollbar-thumb {
      background: #008BD2;
      border-radius: 3px;
    }

  }

  .swiper {
    height: auto;
  }


  .why {

    &__list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }


  .about {

    &__inner {
      flex-direction: column-reverse;
    }

    &__text-inner {
      max-width: 100%;
    }

    &__text-container {

      p {
        max-width: 100%;
      }
    }
  }

  .contacts {
    padding: 50px 0;
    padding-bottom: 350px;

    &__map-box {
      position: static;
    }

    &__map-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__map-wrapper {
      max-width: 100%;
      background-color: transparent;
      padding: 10px;

    }

    &__image {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }

    &__map-box {
      background-color: transparent;
      position: absolute;
      padding: 40px;
      top: 400px;
      right: 50%;
      transform: translateX(50%);
    }

    &__top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .news {
    padding-bottom: 60px;

    &__list {
      display: flex;

      align-items: center;
      gap: 20px;
    }

    &__img-box {
      width: 310px;
      height: 200px;
    }

    &__text {
      font-size: 16px;
    }

    &-title {
      margin-bottom: 20px;
    }
  }

  .footer {
    &__menu-b {
      display: none;
    }
  }

  .main-padding {
    padding-top: 100px;
  }

  .tabs__container {
    padding-bottom: 40px;
  }

  .communication {
    padding-bottom: 320px;
  }

  .faq {

    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &-title-wrapper {
      text-align: center;

    }
  }

}



@media(max-width:1050px) {
  .swiper__nav {
    display: none;
  }

  .reviews {

    &-subtitle {
      text-align: center;
    }

    &__inner {
      text-align: center;
    }

    &-title {
      display: block;
      text-align: center;
      text-align-last: center;
    }
  }
}



@media(max-width:950px) {
  .header__menu__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .top__social-list {
    display: none;
  }

  .top__text {
    text-align: center;
  }

  .top__inner {
    justify-content: center;
  }

  .top__descr {
    text-align: center;
  }

  .top__left-wrapper {
    text-align: center;
  }

  .top__btn-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .help {
    padding: 50px 0;
  }

  .why {
    margin-bottom: 50px;

    &__title {
      margin-bottom: 10px;

    }
  }

  .about {
    padding: 50px 0;
  }

  .contact {
    &::after {
      background-image: none;
    }

    &::before {
      background-image: none;
    }

    &__form__inner {
      flex-direction: column;
      gap: 15px;
    }

    &__input,
    &__select,
    &__textarea {
      max-width: 100%;
    }

    &__column {
      max-width: 100%;
    }

    &__textarea {
      height: 130px;
    }
  }

  .contacts {

    &__top {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .footer {
    &__service-2-b {
      display: none;
    }
  }

  .tabs {
    &__wrapper-title {
      min-width: 100px;
      text-align: center;
      width: 100%;
      text-align: center;
    }
  }


}

@media(max-width:870px) {

  .tabs {
    &__jobs-list {
      grid-template-columns: repeat(1, 1fr);
    }

    &__jobs-img {
      max-width: 100%;
    }

    &__galery__inner {
      grid-template-columns: repeat(1, 1fr);
    }

    &__galery-img {
      max-width: 100%;
    }
  }
}

@media(max-width:750px) {

  .about {

    &__img-box {
      max-width: 450px;
      height: 250px;
    }

    &__img-container-1 {
      max-width: 480px;
      padding: 5px;
    }

    &__img-container-2 {
      max-width: 320px;
      padding: 5px;
    }
  }

  .reviews {

    &__text {
      font-size: 16px;
      margin-bottom: 15px;
    }

    &__name {
      font-size: 16px;
      text-align-last: left;
    }

    &__container {
      padding: 20px 15px;
    }
  }

  .about__text-title {
    font-size: 18px;
  }

  .about__text-container {
    p {
      font-size: 16px;

      b {
        font-size: 16px;
      }
    }
  }

  .footer {
    padding: 40px 0;

    &__service-b {
      display: none;
    }

    &__inner {
      justify-content: center;
      text-align: center;
    }

    &__info-social__list {
      justify-content: center;
    }

    &__bottom {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

  }

  .partners {
    padding: 40px 0;
  }

  .news {

    ul {
      li {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
    }

    &__big-title {
      font-size: 20px;
    }

    &__title {
      font-size: 18px;
    }

  }

}

@media(max-width:650px) {
  .header__menu__inner {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }

  .breadcrumbs {
    display: none;
  }

  .header__margin-media {
    margin-top: -10px;
  }

  .header__phone-media {
    display: inline;
    margin-right: 10px;
  }

  .header__mail-media {
    display: block;
    margin-top: 10px;
  }

  .top__text {
    font-size: 30px;
  }

  .top__descr {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .top {
    padding: 100px 0;
    padding-top: 190px;
  }


  .why {

    &__item-title {
      font-size: 18px;
      margin-bottom: 15px;
    }

    &__item-descr {
      font-size: 16px;
    }

    &__item {
      padding: 20px 15px;
    }
  }

  .contact {
    padding: 50px 0;
  }

  .contacts {

    &__name {
      font-size: 16px;
    }

    &__number-link {
      font-size: 18px;
    }

    &__numbers {
      address {
        font-size: 18px;
      }
    }

    &__social-item {
      width: 40px;
      height: 40px;
    }
  }

  .breadcrumbs {
    gap: 5px;
  }

  .breadcrumbs__list {
    gap: 5px;
  }

  .breadcrumbs__item {
    gap: 5px;
  }

  .tabs__acide {
    padding-left: 0;
    width: 100%;
  }

  .tabs__buttons {
    width: 100%;
  }

  .tabs__container {
    padding-top: 30px;
  }

  .partners {
    &__item-text {
      font-size: 18px;
    }

    &__button__text {
      font-size: 16px;

    }

    &__link {
      width: 100%;
      gap: 5px;
    }
  }

  .faq {

    &__text {
      font-size: 16px;
    }

    &__item.active {

      .faq__descr {
        max-height: none;
        padding: 20px;
      }
    }

    &__descr {
      font-size: 16px;
    }

    &__form-title{
      font-size: 18px;
    }
    &__form-input__box-1{
      max-width: 97%;
    }
    &__form-input__box-2{
      max-width: 97%;
    }
    &__form-input{
      max-width: 97%;
    }

  }
}


@media(max-width:430px) {
  .header__margin-media {
    display: block;
  }

  .header__phone-media {
    display: block;
  }

  .swiper-slide-reviews {
    max-width: 280px !important;
  }

  .reviews__img {
    max-width: 60px;
  }

  .reviews-title {
    margin-bottom: 20px;
  }

  .contacts {
    &__image {
      height: 400px;
    }

    &__map-box {
      top: 300px;
    }

    &__map-box {

      height: 420px;
    }
  }

}


@media(max-width:400px) {
  .header__logo {
    max-width: 180px;
  }

  .partners {
    &__link {
      padding: 10px 8px;
    }

    &__button__text {
      font-size: 14px;
    }
  }

  .news__img-box {
    width: 280px;
  }

  .stats-title-wrapper {
    text-align: center !important;
  }

  .faq{
    padding-top: 20px;
  }

}